<app-navbar></app-navbar>

<div id="logo-container">
    <img src="../../../../assets/images/contact/contactback.png" alt="Hintergrund"/>
</div>

<div id="b1" class="rounded container justify-content-center">

    <div id="b2" class="row opacity-50 rounded"></div>

    <div id="b3" class="row justify-content-evenly text-center">
        <table>
            <tr>
                <th></th>
                <th class="text-center"><img id="pb" src="../../../../assets/images/contact/d97b51b6-8568-495a-bfea-2d290c2d9924.jpg"
                        class="rounded-circle mx-auto d-block, text-center"></th>
                <th></th>
            </tr>
            <tr id="r1">
                <td>
                    <p class="h3">
                        Marc-Benjamin Jung<br />Ausbilder | IT Developer<br />
                    </p>
                    <h6>Themenbereiche Kickstart:</h6>
                    <p>Soft Skills, Leitung...</p>
                </td>
                <td>Hi! Ich bin Benny und hier schreibe ich kurz was über mich, damit du ein kurzes, stimmiges Bild von
                    mir erhälst. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</td>
                <td>
                    <p class="h3">
                        Kontaktdaten
                    </p>
                    <p>
                        E-mail: benjamin.jung@accenture.com<br />Telefonnummer: 0800 1232340<br />
                        LinkedIn Profil
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="text-center">
    
    <button id="back" type="button" class="btn btn-primary btn-lg" href="#">
        Zurück
    </button>
</div>