<div style="background-image:url(../../../assets/images/admin/background-admin.png); height: 100vh; background-size: cover;">

    <br>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.8);
            border:none;">
                <div class="card-header border-bottom-1 border-secondary" style="background-color: #fff;">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-file-person-fill"
                                        style="color: blueviolet;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-safe2"
                                        style="color: blueviolet;"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password">
                        </div>

                        <div class="form-group">
                            <button type="submit" value="Login" class="btn btn-primary btn float-md-right"
                                style="color: white; background-color: blueviolet; border: none;">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <br>
</div>